In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\jeet sarkar\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: trio~=0.17 in c:\users\jeet sarkar\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\jeet sarkar\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\jeet sarkar\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: cffi>=1.14 in c:\users\jeet sarkar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: outcome in c:\users\jeet sarkar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\jeet sarkar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\jeet sarkar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\jeet sarkar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sniffio in c:\users\jeet sarkar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\jeet sarkar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: pycparser in c:\users\jeet sarkar\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\jeet sarkar\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\jeet sarkar\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\jeet sarkar\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\jeet sarkar\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in c:\users\jeet sarkar\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\jeet sarkar\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings 
warnings.filterwarnings('ignore', category = DeprecationWarning)

# Q.1

### Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
### have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
### jobs data.

#### This task will be done in following steps:
 
 - 1. First get the webpage https://www.naukri.com/
 - 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
    location” field.
 - 3. Then click the search button.
 - 4. Then scrape the data for the first 10 jobs results you get.
 - 5. Finally create a dataframe of the scraped data.

In [52]:
# Connecting to the web driver

driver = webdriver.Chrome(f'E:/FlipRobo Internship/chromedriver.exe')

<ipython-input-52-c337df8a51fe>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(f'E:/FlipRobo Internship/chromedriver.exe')

In [51]:
# To close the web browser
# driver.close()

In [53]:
# Inputing the website name

driver.get('https://www.naukri.com/')

In [ ]:
driver.maximize_window()

In [54]:
# Inputting the job title and location

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Bangalore')

<ipython-input-54-cda738b14c6f>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id('qsb-keyword-sugg')
<ipython-input-54-cda738b14c6f>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")

In [55]:
# Clicking the search button

search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-55-c9b437d84350>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [56]:
# Page url which we will be scrap

url = 'https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore'

In [98]:
# Getting the elements from webpage

driver.get(url)

In [80]:
# Let's craet 4 empty list as per requirment

job_title=[]
location_list=[]
company_names=[]
experiance_list=[]

In [81]:
# Let's extract all the tags having the job_titles`

title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[:10]

<ipython-input-81-e489e9113403>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="b80840ef-d731-414a-9139-02150cbf2a7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="34d64ddf-a86d-4e8b-beaf-69954ec3bdc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="e6273524-8e41-4dd5-9603-e098e734ee30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="16e4b787-58fb-42de-a307-7f49c5206aa1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="8899c5b7-71e1-4ef8-8094-f73d4c0423ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="e6d59e22-390a-44cf-9458-769f707f4613")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="da44ddfb-c04b-4451-965d-f84ca02b54c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="cde87e2d-d111-4bfb-a639-c65e385b57dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="e215a514-52de-41c0-bd61-f357a59c33f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="2a21c8ea-4a64-4d6a-820c-dffdf2b1a8f5")>]

In [82]:
# Now the text of the job title inside the tags extracted above

#So we will run a lopp to iterate over the tags extracted above and extract the titles

for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[:10]

['Jr. Data Analyst/ Jr. Data Scientist',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Marketing',
 'Hiring Business Data Analyst +ETL- Tech Mahindra, Bangalore',
 'Data & Performance R&D and Innovation Data Analyst',
 'Data & Performance Strategy & Insight Data Analyst',
 'Data Analyst',
 'Professional 1 Data Analyst',
 'Manager - Data Analyst']

In [83]:
# Finding the company tags up to 10

company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]

<ipython-input-83-858b4ae14d4a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="fb27974e-cd6d-499f-a701-14ff7f11d47b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="91a21298-5270-4280-9702-042caa3ee8ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="a6077d0b-1641-4037-98c8-ec2e5eca2178")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="629aca50-2ff1-488c-a648-051344ad83df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="f38d527f-5ab9-4b15-b9cd-ed976fac4573")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="60bedead-5647-449f-a1e1-b4b9411febd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="9ea4c674-a431-4530-a947-329056febff6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="428a2eb4-7d0a-4986-ab43-f83988c727e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="ae4d0f3e-edc9-4ec8-a120-9a0b546cbbaa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="02ec8dfe-31e2-4b05-8908-009eca3c19d1")>]

In [84]:
# Finding all company names

for i in company_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['Sejal Consulting Hub',
 'Capgemini',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Razorpay',
 'Tech Mahindra',
 'Schneider Electric',
 'Schneider Electric',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'DXC Technology',
 'Genpact']

In [85]:
# Finding experience tags up to 10

experiance_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experiance_tags[0:10]

<ipython-input-85-b0b22fa7de9f>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experiance_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

[<selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="0ba05bbf-79fb-473e-97ac-930d3cafa157")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="2fb98627-694b-4c6a-9403-39faf8891e1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="d2185f13-6683-4ecd-a30c-04ec51762b0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="c2cf5567-5852-43d0-9684-8d35403f7b6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="4cfc2d03-d430-4986-bf5f-dca44c84c72b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="0dbae169-3c1a-4e5e-a9b3-2854998ca4ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="b89d43eb-7c1f-4905-9e31-1f830f4ba0e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="ef6ac5d7-e43f-40a6-90b9-985155507274")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="b4120593-48dd-429c-a42d-f0689bb02682")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="633a0a84-f9e0-4f53-849d-5a1f168ec72b")>]

In [86]:
# Finding all experience required

for i in experiance_tags:
    experiance_req=i.text
    experiance_list.append(experiance_req)
experiance_list[0:10]

['0-5 Yrs',
 '2-5 Yrs',
 '7-10 Yrs',
 '0-2 Yrs',
 '6-10 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '5-10 Yrs',
 '2-5 Yrs',
 '5-10 Yrs']

In [87]:
# Finding location tags upto 10

loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
loc_tags[0:10]

<ipython-input-87-b4f1f2827b54>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

[<selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="9fc6c1e1-d781-4edf-8cc7-1bed883bb31b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="658d5461-82a3-4c97-9892-3965b216d6b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="295bb352-5141-498c-9bc3-b1c9c4f21a16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="6298a6ad-37df-4994-ae37-1a0a482c32f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="5f6c6ab7-a1e6-4dee-a3c5-20ce11769c10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="09cdb3da-ee8b-48ec-94d4-838f9de3e5b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="ffc57eae-bf49-43d2-a600-3d959f1d2fc7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="7ba2f956-f194-41b7-8fcb-4cbf29f42731")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="c3f98c30-de96-4782-87e5-8b4b6bbfffbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3188d92c1367e0384061bc3d686f6de9", element="060ab50e-61de-4ce6-b035-f742cd2662d4")>]

In [88]:
# Finding all locations

for i in loc_tags:
    location=i.text
    location_list.append(location)
location_list[0:10]

['Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [89]:
print(len(job_title),len(location_list),len(experiance_list),len(company_names))

20 20 20 20

In [96]:
# Making Data Frame

df = pd.DataFrame({'Company Name':company_names,'Job Title':job_title,'Experiance Required':experiance_list,'Job Location':location_list})
df[0:10]

,Company Name,Job Title,Experiance Required,Job Location
0,Sejal Consulting Hub,Jr. Data Analyst/ Jr. Data Scientist,0-5 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."
1,Capgemini,Data Analyst,2-5 Yrs,Bangalore/Bengaluru
2,GlaxoSmithKline Pharmaceuticals Limited,Data Analyst,7-10 Yrs,Bangalore/Bengaluru
3,Razorpay,Data Analyst - Marketing,0-2 Yrs,Bangalore/Bengaluru
4,Tech Mahindra,Hiring Business Data Analyst +ETL- Tech Mahind...,6-10 Yrs,Bangalore/Bengaluru
5,Schneider Electric,Data & Performance R&D and Innovation Data Ana...,3-6 Yrs,Bangalore/Bengaluru
6,Schneider Electric,Data & Performance Strategy & Insight Data Ana...,3-6 Yrs,Bangalore/Bengaluru
7,GlaxoSmithKline Pharmaceuticals Limited,Data Analyst,5-10 Yrs,Bangalore/Bengaluru
8,DXC Technology,Professional 1 Data Analyst,2-5 Yrs,Bangalore/Bengaluru
9,Genpact,Manager - Data Analyst,5-10 Yrs,Bangalore/Bengaluru

# Q.2

### Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
### have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

#### This task will be done in following steps:
 - 1. First get the webpage https://www.naukri.com/
 - 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
    location” field.
 - 3. Then click the search button.
 - 4. Then scrape the data for the first 10 jobs results you get.
 - 5. Finally create a dataframe of the scraped data.

In [144]:
# Connecting to the web driver
# Inputing the website name

driver = webdriver.Chrome(f'E:/FlipRobo Internship/chromedriver.exe')
driver.get('https://www.naukri.com/')

<ipython-input-144-55bf47f6255f>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(f'E:/FlipRobo Internship/chromedriver.exe')

In [ ]:
driver.maximize_window()

In [158]:
# driver.close()

In [145]:
# Inputting the job title and location

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Bangalore')

<ipython-input-145-6f81f55cdfb8>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id('qsb-keyword-sugg')
<ipython-input-145-6f81f55cdfb8>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")

In [146]:
# Clicking the SEARCH button

search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-146-c9b437d84350>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [147]:
# Craeting emptylists

job_title=[]
location_list=[]
company_list=[]

In [149]:
# Finding title tags upto 10

title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:10]

<ipython-input-149-bbe5128b7374>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="3acfe2d2-5982-4020-9273-6513aa73e1f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="44c6b822-1864-4416-a936-9cd09b21161c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="38bbf1be-32d5-4d88-90d9-435e22f52bf7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="06129ba0-a99c-4ee5-9aa7-9fb2dc61874f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="b6fb785b-ac85-4255-800f-d7f5df8cb111")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="e687a217-39dc-47b7-8b71-7876c6d21cbd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="076d1c69-893a-4cc8-8f30-8175d510d6fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="1595c3b9-9d92-407c-b081-3d28061a4e88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="aed62c18-5f7b-455b-ac7c-b13217012e43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="ed9b5245-adb2-4e9c-875a-3532dd344ab5")>]

In [150]:
# Findling all job titles using loop

for i in title_tags:
    jobs=i.text
    job_title.append(jobs)
job_title[0:10]

['Jr. Data Analyst/ Jr. Data Scientist',
 'Lead/Senior Data Scientist (NLP)',
 'Tcs Hiring For Data Scientist (Python GCP)',
 'Senior Data Scientist / Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'DG - Business Analyst - Data Scientist',
 'Senior Manager - Data Scientist',
 'Senior Data Scientist - Immediate Joiner Preferred',
 'Lead Consultant - Data Scientist']

In [151]:
# Finding location tags up to 10

loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
loc_tags[0:10]

<ipython-input-151-b4f1f2827b54>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

[<selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="fd4b5bbe-d311-4b12-a4a7-4ea538a9d2e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="6cb89039-c665-4eba-9a99-98bb433db25e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="cca6d7b9-d476-4d64-b443-7baa1de60aeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="30ce9b44-9c5e-4dd4-9cf8-34da88f6cb41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="e0cbe219-be04-4fa6-bd73-cd02e332dc40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="2c89c25c-5867-4f94-aca1-9caf740382cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="198f237f-a26e-43ec-8a7e-8d4fefaf4308")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="148f6baa-b51c-44e3-83da-2282d2d232b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="f65de503-8bf8-491b-8bb5-8834f3782289")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="06aaf63f-74a0-499f-8e5d-8031686ed71e")>]

In [152]:
# Finding location names using loop

for i in loc_tags:
    location=i.text
    location_list.append(location)
location_list[0:10]

['Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [153]:
# Finding the company name tag

company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]

<ipython-input-153-858b4ae14d4a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="1019bd80-da89-4df9-9d07-6775c5c41ad1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="75933657-f8ad-4768-b2d1-938314c040a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="a8803a43-bfad-4c09-a9ac-557dfa55815e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="b4b65b5f-a16d-4657-be86-e797d435bcaf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="e4be1c50-f665-4306-995c-bd030530c4ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="91f5b492-82e7-4346-86f1-0b511cd23862")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="a110cd64-d887-4434-943c-86f308ec8412")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="81dc0532-3bf2-4e7d-a8cc-1e4f1426bf8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="bf8257a3-aff3-41e7-ab01-3a6034f98920")>,
 <selenium.webdriver.remote.webelement.WebElement (session="804804759d0f84a73b7a042216caed7e", element="12bbd481-c3d2-4b3d-837b-707678b77d86")>]

In [154]:
# Findling all company names using loop

for i in company_tags:
    comp=i.text
    company_list.append(comp)
company_list[0:10]

['Sejal Consulting Hub',
 'Samya.AI A FRACTAL Entity',
 'Tata Consultancy Services Ltd.',
 'Superior Group',
 'Wipro',
 'Wipro',
 'Genpact',
 'Genpact',
 'PlaceMinds Consulting Pvt. Ltd',
 'Genpact']

In [321]:
# Checking the lenght

print(len(company_list),len(job_title),len(location_list))

20 20 20

In [157]:
# Making Data Frame

df = pd.DataFrame({'Company Name':company_list,'Job Title':job_title,'Job Location':location_list})
df[0:10]

,Company Name,Job Title,Job Location
0,Sejal Consulting Hub,Jr. Data Analyst/ Jr. Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."
1,Samya.AI A FRACTAL Entity,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru\n(WFH during Covid)
2,Tata Consultancy Services Ltd.,Tcs Hiring For Data Scientist (Python GCP),"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
3,Superior Group,Senior Data Scientist / Data Scientist,Bangalore/Bengaluru
4,Wipro,Senior Data Scientist,"Pune, Bangalore/Bengaluru, Delhi / NCR"
5,Wipro,Senior Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai..."
6,Genpact,DG - Business Analyst - Data Scientist,Bangalore/Bengaluru
7,Genpact,Senior Manager - Data Scientist,Bangalore/Bengaluru
8,PlaceMinds Consulting Pvt. Ltd,Senior Data Scientist - Immediate Joiner Prefe...,"Mumbai, Pune, Bangalore/Bengaluru"
9,Genpact,Lead Consultant - Data Scientist,Bangalore/Bengaluru

# Q.3

# In this question you have to scrape data using the filters available on the webpage as shown below:

![](31.jpg)

 - You have to use the location and salary filter.
 - You have to scrape data for “Data Scientist” designation for first 10 job results.
 - You have to scrape the job-title, job-location, company name, experience required.
 - The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs

#### The task will be done as shown in the below steps:
 - 1. first get the webpage https://www.naukri.com/
 - 2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
 - 3. Then click the search button.
 - 4. Then apply the location filter and salary filter by checking the respective boxes
 - 5. Then scrape the data for the first 10 jobs results you get.
 - 6. Finally create a dataframe of the scraped data.

In [279]:
# Connecting to the web driver
# Connecting to the web page

driver = webdriver.Chrome(f'E:/FlipRobo Internship/chromedriver.exe')
driver.get('https://www.naukri.com/')

<ipython-input-279-542070400eeb>:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(f'E:/FlipRobo Internship/chromedriver.exe')

In [ ]:
driver.maximize_window()

In [ ]:
#driver.close()

In [280]:
# Inputting the job title 

search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

<ipython-input-280-2331cb1747a3>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id("qsb-keyword-sugg")

In [281]:
# Clicking the SEARCH button

search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-281-725e2c70ee78>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [282]:
# Clicking the job location filter

search_loc = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p')
search_loc.click()

<ipython-input-282-2155a54b2f75>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p')

In [283]:
# Clicking the salary filter

search_salary = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
search_salary.click()

<ipython-input-283-72c33e8c4330>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_salary = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')

In [284]:
# Craeting emptylists

job_title=[]
location_list=[]
company_list=[]
experience_required=[]

In [291]:
# Finding title tags upto 10 

title_tags= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:10]

<ipython-input-291-a50d45019ac1>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="ddf883c2-e804-4ee3-a527-f101b5042c40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="b11bb10a-edcc-456c-886a-9141fc9e2c5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="79e76888-5c3d-4c51-be5e-3caf5497ea7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="b8783307-e9c0-4883-86fd-a8252d602249")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="be33f2fa-9cf9-4e2e-8c1e-6e1cd7cf5cec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="3a2773df-2a45-496f-a5c3-306be4ba43af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="dc5c590e-089f-4de7-b144-5630bedd14ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="a47a6444-8e4c-49dc-94e0-b68d3efa7031")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="a77d0100-97d3-476d-be50-b7f916c0e1ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="0b262c12-5ba7-4e7d-b77e-a7c05b1a7bfd")>]

In [292]:
# Findling all job titles using loop

for i in title_tags:
    a=i.text
    job_title.append(a)
job_title[0:10]

['Hiring For Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist',
 'Data Scientist',
 'Data Scientist/ Senior Data Scientist',
 'NTT DATA_ Hiring For BIG DATA ,DATA Scientist, Devops',
 'Hiring For Data Analyst / Data Scientist',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [297]:
# Finding the location tags

loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
loc_tags[0:10]

<ipython-input-297-b4f1f2827b54>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

[<selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="978ece88-1cb3-4ce5-a368-c936e1d0c234")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="59cfad7c-aea8-40c8-b5e2-d9a192c2ed89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="886fe82a-ca4f-4872-bed6-ed9b0dd7d438")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="66af07bd-ea2e-4635-a3e1-550c48cdb90e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="9bdffb33-4ee0-4598-9138-f47ebca88073")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="91f5bed6-b390-4cdb-b564-9d4d6e263fb0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="4bfc11a3-2b6c-4df5-be34-649241bb96f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="953de029-ef3b-490d-b649-75b8c97299d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="affa217f-19a7-41c4-832e-274c3ba1dadb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="a4b27775-8208-43bb-bca0-15d0e22c8570")>]

In [298]:
# Finding all location names using loop

for i in loc_tags:
    a=i.text
    location_list.append(a)
location_list[0:10]

['Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Remote',
 'Gurgaon/Gurugram, Chennai',
 'Noida',
 'Noida, Kolkata, Hyderabad/Secunderabad, Ahmedabad, Chennai, Coimbatore, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida(Sector-59 Noida)',
 'Noida, Ghaziabad, Delhi / NCR',
 'New Delhi',
 'Gurgaon/Gurugram',
 'Mumbai, Hyderabad/Secunderabad, Pune, Lucknow, Chennai, Delhi / NCR, Kerela, Goa']

In [299]:
# Finding the company tags

company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]

<ipython-input-299-858b4ae14d4a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="07881c26-0f97-4fdd-b8c5-fcdc03f094b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="8b8001df-505b-41a4-ac99-e1c817a4282c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="3bc478d4-f9aa-450e-ae9f-3e6b41f7e749")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="01b8c282-7fb6-493d-b210-54fb849afe83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="04981b3e-6aa2-4944-9faa-4d6323bd521b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="cebaf4fc-bb9f-4b71-ad2d-5ab28df19fe7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="51f95d94-016f-47af-81b5-d7ef231423a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="bb14f4dc-17f5-438e-9166-7c00902350c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="21023934-7bb0-4177-a656-99242bfd2477")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="310e1ce2-e52a-4ef2-9a3f-05e66561a5b7")>]

In [300]:
# Finding all the company names using loop

for i in company_tags:
    a=i.text
    company_list.append(a)
company_list[0:10]

['Tata Consultancy Services Ltd.',
 'Tidyquant (OPC) Private Limited',
 'Teleperformance',
 'Newgen Software Technologies',
 'NTT Data Business Solutions Pvt Ltd',
 'Careerera',
 'GABA Consultancy services',
 'The Boston Consulting Group (India) Pvt Limited',
 'ApplyBoard',
 'AVE-Promagne']

In [307]:
# Finding th experience tags

experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:10]

<ipython-input-307-31ca1baa1fa3>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

[<selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="ca6f82a4-6a09-4ba2-b8c3-6920fd31458a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="5e3dd4a4-b9f8-4a71-874a-b4479ff69bbf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="73e56fc6-5517-4ca9-a586-46ca404f7d79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="5137bc6e-9b2b-4255-8961-34c01efaf1d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="7ac39782-1306-4b8f-a66c-2053c8e183e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="8b490738-ee92-4249-baf4-8e34e6836ea4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="fa8ac73b-77c4-49a0-b081-fd487706a506")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="a0dd7f3b-2cf6-47e7-bd83-8dbf06bfe369")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="681d1bda-9072-463e-938f-7b44f7847f00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d78373feb7af3582fd24bd4deba14aa", element="fb822e0e-8489-48b1-93a9-989af53ea229")>]

In [309]:
# Finding all experience requirments using loop

for i in experience_tags:
    a=i.text
    experience_required.append(a)
experience_required[0:10]

['4-9 Yrs',
 '1-5 Yrs',
 '4-9 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '1-3 Yrs',
 '0-0 Yrs',
 '2-5 Yrs',
 '3-7 Yrs',
 '1-6 Yrs']

In [314]:
# Checking length

print(len(job_title),len(location_list),len(company_list),len(experience_required))

20 20 20 20

In [315]:
# creating DataFrame

df = pd.DataFrame({'Company Name':company_list,'Job Titles':job_title,'Experience Required':experience_required,'Location':location_list})
df[0:10]

,Company Name,Job Titles,Experience Required,Location
0,Tata Consultancy Services Ltd.,Hiring For Data Scientist,4-9 Yrs,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
1,Tidyquant (OPC) Private Limited,Project Manager | Team Leader | Senior Data Sc...,1-5 Yrs,Remote
2,Teleperformance,Data Scientist,4-9 Yrs,"Gurgaon/Gurugram, Chennai"
3,Newgen Software Technologies,Data Scientist/ Senior Data Scientist,2-5 Yrs,Noida
4,NTT Data Business Solutions Pvt Ltd,"NTT DATA_ Hiring For BIG DATA ,DATA Scientist,...",3-8 Yrs,"Noida, Kolkata, Hyderabad/Secunderabad, Ahmeda..."
5,Careerera,Hiring For Data Analyst / Data Scientist,1-3 Yrs,Noida(Sector-59 Noida)
6,GABA Consultancy services,Data Analyst / Data Scientist / Business Analy...,0-0 Yrs,"Noida, Ghaziabad, Delhi / NCR"
7,The Boston Consulting Group (India) Pvt Limited,Data Scientist,2-5 Yrs,New Delhi
8,ApplyBoard,Data Scientist,3-7 Yrs,Gurgaon/Gurugram
9,AVE-Promagne,Data Scientist,1-6 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Lucknow,..."

# Q.4

Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

 - 1.Brand
 - 2.Product Description
 - 3.Price The attributes which you have to scrape is ticked marked in the below image.

**To scrape the data you have to go through following steps:**

 - 1.Go to Flipkart webpage by url : https://www.flipkart.com/
 - 2.Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
 - 3.After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual. ASSIGNMENT 2
 - 4.After scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it.
 - 5.Now scrape data from this page as usual
 - 6.Repeat this until you get data for 100 sunglasses

In [199]:
driver = webdriver.Chrome(f'E:/FlipRobo Internship/chromedriver.exe')
driver.get('https://www.flipkart.com/')
time.sleep(2)

# clicking description button
desc_button = driver.find_element_by_xpath("/html/body/div[2]/div/div/button").click()
time.sleep(1)

# entering product name
search_sunglasses = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_sunglasses.send_keys('sunglasses')

#clicking search button
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [200]:
# creating empty list

brand_name = []
product_discription = []
price = []

In [201]:
# next page links

search=[]
search1=driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
search2=driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in search1:
    search.append(i.get_attribute('href'))
for i in search2:
    search.append(i.get_attribute('href'))
x = search[0:3]

In [202]:
# Using the nested loop for iterate data from each page

for page in x:
    driver.get(page)

    brands_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brands_tags:
        a=i.text
        brand_name.append(a)

    desc_tags = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in desc_tags:
        b=i.text
        product_discription.append(b)

    price_tags = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price_tags:
        c=i.text
        price.append(c)
    search=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav")
    search.click()
            
print(len(brand_name),len(product_discription),len(price))

120 120 120

In [204]:
# creating DataFrame


df  = pd.DataFrame({'Brand':brand_name,'Description':product_discription,'Price':price})
df[0:100]

        Brand                                        Description Price
0      PIRASO  UV Protection Retro Square Sunglasses (Free Size)  ₹329
1      PIRASO   UV Protection Rectangular Sunglasses (Free Size)  ₹279
2        SRPM             UV Protection Wayfarer Sunglasses (56)  ₹188
3   Elligator                UV Protection Round Sunglasses (54)  ₹248
4   New Specs   UV Protection Rectangular Sunglasses (Free Size)  ₹259
..        ...                                                ...   ...
95     PIRASO              UV Protection Aviator Sunglasses (54)  ₹187
96   Badfella  Polarized, UV Protection Retro Square Sunglass...  ₹207
97   Poloport      UV Protection Wayfarer Sunglasses (Free Size)  ₹224
98     Singco       UV Protection Aviator Sunglasses (Free Size)  ₹498
99     PIRASO   UV Protection Rectangular Sunglasses (Free Size)  ₹279

[100 rows x 3 columns]

# Q.5

Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/ p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace. As shown in the above page you have to scrape the tick marked attributes. These are:

 - 1.Rating
 - 2.Review_summary
 - 3.Full review
 - 4.You have to scrape this data for first 100 reviews. Note: All the steps required during scraping should be done through code only and not manually.

In [214]:
driver = webdriver.Chrome(f'E:/FlipRobo Internship/chromedriver.exe')
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART')

In [215]:
# creating empty list

ratings = []
partioal_review = []
Full_review = []
next_btn = []

In [216]:
# next page links

page1_link = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
pages_link = driver.find_elements_by_xpath("//a[@class='ge-49M']")

for i in page1_link:
    next_btn.append(i.get_attribute('href'))
for i in pages_link:
    next_btn.append(i.get_attribute('href'))
    
for page in next_btn[0:10]:
    driver.get(page)

    rating_tags = driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
    for i in rating_tags:
        a=i.text
        ratings.append(a)

    review_summary = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in review_summary:
        a=i.text
        partioal_review.append(a)

    full_review = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in full_review:
        a=i.text
        Full_review.append(a)
        
print(len(ratings),len(partioal_review),len(Full_review))

100 100 100

In [217]:
# creating DataFrame

df = pd.DataFrame({'Ratigns':ratings,'Review Summary':partioal_review,'Full Review':Full_review})
df

,Ratigns,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Must buy!,Camera is excellent just lack of telephoto mod...
96,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely good\nAs far as camera...
98,3,Decent product,Everything u ll like it when u use this iPhone...
99,5,Awesome,Can’t beat the software and hardware integrati...

# Q.6

Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:

 - 1.Brand
 - 2.Product Description
 - 3.Price As shown in the below image, you have to scrape the tick marked attributes.

In [5]:
driver = webdriver.Chrome(f'E:/FlipRobo Internship/chromedriver.exe')
driver.get('https://www.flipkart.com/')
time.sleep(2)

#clicking description button
desc_button = driver.find_element_by_xpath("/html/body/div[2]/div/div/button").click()

# Entering product name
search_sunglasses = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_sunglasses.send_keys('sneakers')

# clicking search button
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [6]:
# creating empty list

Brands = []
product_description = []
Price = []
Discount = []
next_btn = []

In [9]:
# next page tags

link1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
link2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")

for i in link1:
    next_btn.append(i.get_attribute('href'))
for i in link2:
    next_btn.append(i.get_attribute('href'))

for page in next_btn:
    driver.get(page)
    
    brands_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brands_tags:
        a=i.text
        Brands.append(a)
        
    des_tags = driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    for i in des_tags:
        a=i.text
        product_description.append(a)
        
    price_tags = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price_tags:
        a=i.text
        Price.append(a)
        
    
        try:
            dis_tags = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
            Discount.append(dis_tags.text)
        except:
            Discount.append('-')
            
        
print(len(Brands),len(product_description),len(Price),len(Discount))

1200 1200 1200 1200

In [10]:
# creating DataFrame

df = pd.DataFrame({'Brands':Brands,'Product Description':product_description,'Price':Price,'Discount':Discount})
df[0:100]

,Brands,Product Description,Price,Discount
0,Noztile,Sneakers For Men,₹499,-
1,luxury fashion,Luxury Fashionable casual shoes Sneakers For Men,₹429,-
2,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹299,-
3,URBANBOX,Sneakers Sneakers For Men,₹220,-
4,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,₹331,-
...,...,...,...,...
95,RED TAPE,Sneakers For Men,"₹1,373",-
96,FEWROK,Premium quality Sneakers For Men,₹479,-
97,PUMA,Wild Rider Layers Sneakers For Men,"₹3,799",-
98,SPARX,SM-675 Sneakers For Men,₹888,-
99,RED TAPE,Sneakers For Men,"₹1,373",-

# Q.7

Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image. And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [35]:
driver = webdriver.Chrome(f'E:/FlipRobo Internship/chromedriver.exe')
driver.get('https://www.myntra.com/shoes')

In [36]:
# clicking price filter

price_filter = driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div').click()

In [37]:
# clicking color filter

color_filter = driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label').click()

In [38]:
# creating empty list

Brands = []
Description = []
Price = []
next_btn = []

In [40]:
#next page tags

next_tag=driver.find_elements_by_xpath("//li[@class='pagination-active']/a[1]")
next_tag1=driver.find_elements_by_xpath("//li[@class='pagination-number']/a[1]")

for i in next_tag:
    next_btn.append(i.get_attribute('href'))
for i in next_tag1:
    next_btn.append(i.get_attribute('href'))

for page in next_btn[0:2]:
    driver.get(page)


    brands_tags = driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in brands_tags:
        a=i.text
        Brands.append(a)

    desc_tags = driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in desc_tags:
        a=i.text
        Description.append(a)

    price_tags = driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
    for i in price_tags:
        a=i.text
        Price.append(a)
    
print(len(Brands),len(Description),len(Price))

100 100 100

In [41]:
# creating DataFrame

df = pd.DataFrame({"Brands":Brands,"Description":Description,"Price":Price})
df

       Brands                          Description               Price
0        Puma       Men Deviate Nitro Running Shoe   Rs. 7499Rs. 14999
1       ASICS              Men GEL-KAYANO 27 Shoes  Rs. 10499Rs. 14999
2        Puma                    Men Running Shoes   Rs. 6499Rs. 12999
3      ADIDAS                  Women Running Shoes            Rs. 7599
4        Puma            Men Magnify Nitro Running   Rs. 7799Rs. 12999
..        ...                                  ...                 ...
95   DAVINCHI          Men Formal Leather Slip-Ons            Rs. 8990
96       Geox            Women Solid Leather Pumps           Rs. 10990
97      ASICS       Men Gel-Excite 8 Running Shoes            Rs. 6499
98  J.FONTINI  Men Textured Leather Formal Loafers            Rs. 8990
99   DAVINCHI      Men Solid Leather Formal Derbys            Rs. 8990

[100 rows x 3 columns]

# Q.8

Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image: After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:

 - 1.Title
 - 2.Ratings
 - 3.Price As shown in the below image as the tick marked attributes.

In [128]:
driver = webdriver.Chrome(f'E:/FlipRobo Internship/chromedriver.exe')
driver.get('https://www.amazon.in/')

In [137]:
# Entering product name

search_box = driver.find_element_by_id("twotabsearchtextbox")
search_box.send_keys('Laptop')

In [138]:
# clicking search button

search_button = driver.find_element_by_xpath("//input[@id='nav-search-submit-button']").click()

In [139]:
# selecting i7 cpu in filter

i7_cpu = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[1]/li[11]/span/a/div").click()

In [140]:
# creating empty list

Title = []
Rating = []
Price = []

In [141]:
# Product name
title_tags = driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in title_tags[0:10]:
    a=i.text
    Title.append(a)

# Product price
price_tags = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in price_tags[0:10]:
    a=i.text
    Price.append(a)

print(len(Title),len(Price))

10 10

In [142]:
# product ratings

rating=[]
rating1=[]

rating_tags=driver.find_elements_by_xpath("//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']")
for i in rating_tags:
    rating.append(i.get_attribute('href'))

for i in rating[0:10]:
    driver.get(i)
    
    rating1_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base']")
    for i in rating1_tags:
        rating1.append(i.text)
        
print(len(rating1))

10

In [143]:
# creating DataFrame

df = pd.DataFrame({"Titles":Title,"Rating":rating1,"Price":Price})
df

                                              Titles        Rating     Price
0  Fujitsu UH-X 11th Gen Intel i7 Core 13.3 inche...  4.3 out of 5    92,990
1  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...    4 out of 5    89,990
2  Mi Notebook Pro QHD+ IPS Anti Glare Display In...  4.3 out of 5    73,999
3  Mi Notebook Horizon Edition 14 Intel Core i7-1...  4.2 out of 5    54,999
4  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...  4.3 out of 5    84,990
5  Mi Notebook Ultra 3.2K resolution display Inte...  4.3 out of 5    77,999
6  HP Pavilion Gaming(2021) 10th Gen Intel Core i...  4.1 out of 5    94,990
7  ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...  4.4 out of 5  1,09,990
8  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...    4 out of 5    89,990
9  Dell 15 (2021) Intel i7-11800H Gaming Laptop, ...  3.9 out of 5  1,12,104

# Q.9

Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:

 - 1.First get the webpage https://www.ambitionbox.com/
 - 2.Click on the Job option as shown in the image
 - 3.After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
 - 4.You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
 - 5.Then scrape the data for the first 10 jobs results you get on the above shown page.
 - 6.Finally create a dataframe of the scraped data.

In [197]:
driver = webdriver.Chrome(f'E:/FlipRobo Internship/chromedriver.exe')
driver.get('https://www.ambitionbox.com/')

In [198]:
# clicking job link

jobs_click = driver.find_element_by_xpath("//a[@title='Jobs']").click()

In [203]:
# Entering job title

search_designation = driver.find_element_by_xpath("//input[@class='input tt-input']")
search_designation.send_keys('Data Scientist')

In [204]:
# clicking search button

search_btn = driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']").click()

In [205]:
# clicking location button

location_click = driver.find_element_by_xpath("//div[@title='Location']").click()

In [206]:
# Entering Noida in location

search_location = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_location.send_keys('Noida')

In [207]:
# Selecting Noida

select_btn = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label").click()

In [208]:
# creating empty list

Company_Name = []
Rating = []
Dayago = []

In [ ]:
# company name
company_tags = driver.find_elements_by_xpath("//p[@class='company body-medium']")
for i in company_tags:
    Company_Name.append(i.text)

# company rating    
rating_tags = driver.find_elements_by_xpath("//div[@class='rating-wrapper']/a[1]")
for i in rating_tags[1:11]:
    Rating.append(i.text)


# Job post date
days_tags = driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")
for i in days_tags:
    Dayago.append(i.text)

In [210]:
# creating DataFrame

df = pd.DataFrame({'Company Name':Company_Name,'Rating':Rating,'Job Post Day':Dayago})
df

                          Company Name Rating Job Post Day
0       LG Electronics India Pvt. Ltd.    4.1      12d ago
1        GENPACT India Private Limited    4.0      19d ago
2        GENPACT India Private Limited    4.0      19d ago
3  NTT Data Business Solutions Pvt Ltd    3.8      20d ago
4        GENPACT India Private Limited    4.0      21d ago
5                                Paytm    3.7       6d ago
6                             GI Group    4.0       6d ago
7                             GI Group    4.0       6d ago
8                             GI Group    4.0       6d ago
9                     Steria India Ltd    4.1     1mon ago

# Q.10

Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary. The above task will be, done as shown in the below steps:

 - 1.First get the webpage https://www.ambitionbox.com/
 - 2.Click on the salaries option as shown in the image.
 - 3.After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
 - 4.Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
 - 5.tore the data in a dataframe.

In [250]:
driver = webdriver.Chrome(f'E:/FlipRobo Internship/chromedriver.exe')
driver.get('https://www.ambitionbox.com/')

In [251]:
# clicking salaries

salaries_click = driver.find_element_by_xpath("//a[@title='Company Salaries']").click()

In [263]:
# Entering job title

search_designation = driver.find_element_by_xpath("//input[@class='tt-input']")
search_designation.send_keys('Data Scientist')

In [264]:
# Selecting job title

select_btn = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]").click()

In [265]:
#company Title
company = []
company_tags = driver.find_elements_by_xpath("//div[@class='name']/a[1]")
for i in company_tags:
    company.append(i.text)
    
#Number of salary
Total_Salary = []
salary_tags = driver.find_elements_by_xpath("//div[@class='name']/span[1]")
for i in salary_tags:
    Total_Salary.append(i.text)

#Experince Level
Experiance = []
experiance_tags = driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
for i in experiance_tags:
    Experiance.append(i.text.split('.')[1].replace("\n",""))

#min of Salary 
minsalary=[]
minsalary_tags=driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")
for i in minsalary_tags:
    minsalary.append(i.text)

#max of Salary    
maxsalary=[]
maxsalary_tags=driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")
for i in maxsalary_tags:
    maxsalary.append(i.text)

#average of Salary  
avgsalary=[]
avgsalary_tags=driver.find_elements_by_xpath("//p[@class='averageCtc']")
for i in avgsalary_tags:
    avgsalary.append(i.text)

In [267]:
# creating DataFrame

df = pd.DataFrame({'Company Name':company,'Experiance Required':Experiance,'Total Salary Record':Total_Salary,'Average Salary':avgsalary,'Min. Salary':minsalary,'Max. Salary':maxsalary})
df

,Company Name,Experiance Required,Total Salary Record,Average Salary,Min. Salary,Max. Salary
0,Ab Inbev,3-4 yrs exp,based on 20 salaries,₹ 19.0L,₹ 15.0L,₹ 23.0L
1,ZS,2 yrs exp,based on 12 salaries,₹ 15.3L,₹ 9.8L,₹ 19.5L
2,Optum,3-4 yrs exp,based on 23 salaries,₹ 15.0L,₹ 11.0L,₹ 21.3L
3,Fractal Analytics,2-4 yrs exp,based on 66 salaries,₹ 15.0L,₹ 9.5L,₹ 22.0L
4,UnitedHealth,2-4 yrs exp,based on 47 salaries,₹ 13.5L,₹ 7.2L,₹ 20.5L
5,Tiger Analytics,3-4 yrs exp,based on 26 salaries,₹ 13.5L,₹ 8.3L,₹ 18.5L
6,Verizon,4 yrs exp,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L
7,Ganit Business Solutions,4 yrs exp,based on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L
8,Ericsson,3-4 yrs exp,based on 42 salaries,₹ 11.7L,₹ 5.2L,₹ 21.5L
9,Deloitte,2-4 yrs exp,based on 49 salaries,₹ 11.2L,₹ 6.8L,₹ 20.5L