In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Q.1
## Write a python program to display all the header tags from wikipedia.org.

In [2]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(page.content)

In [3]:
head = [] #Empty list for store the data

for i in soup.find_all(['h1', 'h2','h3','h4','h5','h6']):
    head.append(i.text.replace('\n',''))
head

['Main Page',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 'Personal tools',
 'Namespaces',
 'Variantsexpandedcollapsed',
 'Views',
 'Moreexpandedcollapsed',
 'Search',
 'Navigation',
 'Contribute',
 'Tools',
 'Print/export',
 'In other projects',
 'Languages']

# Q.2
### Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
### and make data frame.

In [4]:
page1 = requests.get('https://www.imdb.com/list/ls091520106/?sort=list_order,asc&st_dt=&mode=detail&page=1&ref_=ttls_vm_dtl')
soup = BeautifulSoup(page1.content)

In [5]:
name = []

for i in soup.find_all('h3', class_='lister-item-header'):
    name.append(i.text.replace('\n',''))

In [6]:
rating = []

for i in soup.find_all('div', class_='ipl-rating-star small'):
    rating.append(i.text.replace('\n',''))

In [7]:
release_year = []

for i in soup.find_all('span', class_='lister-item-year text-muted unbold'):
    release_year.append(i.text)

In [8]:
print(len(name),len(rating),len(release_year))

100 100 100

In [9]:
df = pd.DataFrame({'Movie Name':name, 'Rating':rating, 'Release Year':release_year})
df

                                      Movie Name Rating Release Year
0               1.The Shawshank Redemption(1994)    9.3       (1994)
1                          2.The Godfather(1972)    9.2       (1972)
2                 3.The Godfather: Part II(1974)      9       (1974)
3                        4.The Dark Knight(2008)      9       (2008)
4                           5.12 Angry Men(1957)      9       (1957)
..                                           ...    ...          ...
95                   96.North by Northwest(1959)    8.3       (1959)
96                   97.A Clockwork Orange(1971)    8.3       (1971)
97                               98.Snatch(2000)    8.3       (2000)
98  99.Le fabuleux destin d'Amélie Poulain(2001)    8.3       (2001)
99                             100.The Kid(1921)    8.3       (1921)

[100 rows x 3 columns]

# Q.3
### Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
### release) and make data frame.

In [10]:
page = requests.get('https://www.imdb.com/list/ls009997493/')
soup = BeautifulSoup(page.content)

In [11]:
indian_movie = []

for i in soup.find_all('h3', class_= 'lister-item-header'):
    indian_movie.append(i.text.replace('\n',''))

In [12]:
rating = []

for i in soup.find_all('div', class_= 'ipl-rating-star small'):
    rating.append(i.text.replace('\n',''))

In [13]:
release_year = []

for i in soup.find_all('span', class_='lister-item-year text-muted unbold'):
    release_year.append(i.text)

In [14]:
print(len(indian_movie),len(rating),len(release_year))

100 100 100

In [15]:
df = pd.DataFrame({'Top 100 Indian Movies':indian_movie,'Rating':rating,'Release Date':release_year})
df

             Top 100 Indian Movies Rating Release Date
0          1.Rang De Basanti(2006)    8.1       (2006)
1                 2.3 Idiots(2009)    8.4       (2009)
2         3.Taare Zameen Par(2007)    8.4       (2007)
3           4.Dil Chahta Hai(2001)    8.1       (2001)
4   5.Swades: We, the People(2004)    8.2       (2004)
..                             ...    ...          ...
95            96.Wake Up Sid(2009)    7.6       (2009)
96               97.Rangeela(1995)    7.5       (1995)
97    98.Shatranj Ke Khilari(1977)    7.7       (1977)
98     99.Pyaar Ka Punchnama(2011)    7.6       (2011)
99         100.Ek Hasina Thi(2004)    7.5       (2004)

[100 rows x 3 columns]

## Q.4

### a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [16]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup = BeautifulSoup(page.content)

In [17]:
cricket_team = []

for i in soup.find_all('td', class_='rankings-block__banner--team-name'):
    cricket_team.append(i.text.replace('\n',''))
for i in soup.find_all('td', class_='table-body__cell rankings-table__team'):
    cricket_team.append(i.text.replace('\n',''))

In [18]:
matches= []

for i in soup.find_all('td', class_='rankings-block__banner--matches'):
    matches.append(i.text)

In [19]:
points = []

for i in soup.find_all('td', class_='rankings-block__banner--points'):
    points.append(i.text)

In [20]:
rating = []

for i in soup.find_all('td', class_='rankings-block__banner--rating u-text-right'):
    rating.append(i.text.replace('\n','').strip())
for i in soup.find_all('td', class_='table-body__cell u-text-right rating'):
    rating.append(i.text)

In [21]:
# Iteraing Points and Rating 

matches_points = []
for i in soup.find_all('td', class_='table-body__cell u-center-text'):
    matches_points.append(i.text)
for i in range(0,len(matches_points)-1,2):
    matches.append(matches_points[i])
    points.append(matches_points[i+1])

In [22]:
print(len(cricket_team),len(matches),len(points),len(rating))

20 20 20 20

In [23]:
df = pd.DataFrame({'Teams':cricket_team,'Matches':matches,'Points':points,'Ratings':rating})
df[:10]

            Teams Matches Points Ratings
0   New ZealandNZ      17  2,054     121
1      EnglandENG      32  3,793     119
2    AustraliaAUS      28  3,244     116
3        IndiaIND      32  3,624     113
4  South AfricaSA      25  2,459      98
5     PakistanPAK      27  2,524      93
6   BangladeshBAN      30  2,740      91
7   West IndiesWI      30  2,523      84
8     Sri LankaSL      32  2,657      83
9  AfghanistanAFG      17  1,054      62

### b) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [24]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup = BeautifulSoup(page.content)

In [25]:
player = []

for i in soup.find_all('td', class_='rankings-block__top-player-container'):
    player.append(i.text.replace('\n',''))
for i in soup.find_all('td', class_='table-body__cell rankings-table__name name'):
    player.append(i.text.replace('\n',''))

In [26]:
team = []

for i in soup.find_all('div', class_='rankings-block__banner--nationality'):
    team.append(i.text.replace('\n','').strip())
for i in soup.find_all('td', class_='table-body__cell nationality-logo rankings-table__team'):
    team.append(i.text.replace('\n',''))

In [27]:
rating = []

for i in soup.find_all('div', class_='rankings-block__banner--rating'):
    rating.append(i.text)
for i in soup.find_all('td', class_='table-body__cell rating'):
    rating.append(i.text)

In [28]:
print(len(player),len(team),len(rating))

100 100 100

In [29]:
df = pd.DataFrame({'Top Batsmen':player,'Team Name':team,'Ratings':rating})
df[:10]

       Top Batsmen Team Name Ratings
0       Babar Azam       PAK     873
1      Virat Kohli       IND     844
2     Rohit Sharma       IND     813
3      Ross Taylor        NZ     801
4      Aaron Finch       AUS     779
5   Jonny Bairstow       ENG     775
6     David Warner       AUS     762
7        Shai Hope        WI     758
8  Kane Williamson        NZ     754
9  Quinton de Kock        SA     743

### c) Top 10 ODI bowlers along with the records of their team and rating.

In [30]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup = BeautifulSoup(page.content)

In [31]:
player = []

for i in soup.find_all('td', class_='rankings-block__top-player-container'):
    player.append(i.text.replace('\n',''))
for i in soup.find_all('td', class_='table-body__cell rankings-table__name name'):
    player.append(i.text.replace('\n',''))

In [32]:
team = []
for i in soup.find_all('div', class_='rankings-block__banner--nationality'):
    team.append(i.text.replace('\n',''))
for i in soup.find_all('td', class_='table-body__cell nationality-logo rankings-table__team'):
    team.append(i.text.replace('\n',''))

In [33]:
rating = []
for i in soup.find_all('div', class_='rankings-block__banner--rating'):
    rating.append(i.text)
for i in soup.find_all('td', class_='table-body__cell rating'):
    rating.append(i.text)

In [34]:
print(len(player),len(team),len(rating))

100 100 100

In [35]:
df = pd.DataFrame({'Top Bowler':player,'Team Name':team,'Ratings':rating})
df[:10]

         Top Bowler               Team Name Ratings
0       Trent Boult  NZ                         737
1    Josh Hazlewood                     AUS     709
2  Mujeeb Ur Rahman                     AFG     708
3      Chris Woakes                     ENG     700
4      Mehedi Hasan                     BAN     692
5        Matt Henry                      NZ     691
6    Jasprit Bumrah                     IND     679
7    Mitchell Starc                     AUS     652
8   Shakib Al Hasan                     BAN     650
9     Kagiso Rabada                      SA     643

# Q.5

### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [36]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup = BeautifulSoup(page.content)

In [37]:
cricket_team = []

for i in soup.find_all('td', class_='rankings-block__banner--team-name'):
    cricket_team.append(i.text.replace('\n',''))
for i in soup.find_all('td', class_='table-body__cell rankings-table__team'):
    cricket_team.append(i.text.replace('\n',''))

In [38]:
matches= []

for i in soup.find_all('td', class_='rankings-block__banner--matches'):
    matches.append(i.text)

In [39]:
points = []

for i in soup.find_all('td', class_='rankings-block__banner--points'):
    points.append(i.text)

In [40]:
rating = []

for i in soup.find_all('td', class_='rankings-block__banner--rating u-text-right'):
    rating.append(i.text.replace('\n','').strip())
for i in soup.find_all('td', class_='table-body__cell u-text-right rating'):
    rating.append(i.text)

In [41]:
# Iteraing Points and Rating 

matches_points = []
for i in soup.find_all('td', class_='table-body__cell u-center-text'):
    matches_points.append(i.text)
for i in range(0,len(matches_points)-1,2):
    matches.append(matches_points[i])
    points.append(matches_points[i+1])

In [42]:
print(len(cricket_team),len(matches),len(points),len(rating))

11 11 11 11

In [43]:
df = pd.DataFrame({'Teams':cricket_team,'Matches':matches,'Points':points,'Ratings':rating})
df[:10]

            Teams Matches Points Ratings
0    AustraliaAUS      17  2,746     162
1  South AfricaSA      19  2,307     121
2      EnglandENG      18  2,148     119
3        IndiaIND      17  1,899     112
4   BangladeshBAN       5    475      95
5   New ZealandNZ      19  1,668      88
6   West IndiesWI      19  1,658      87
7     PakistanPAK      18  1,226      68
8      IrelandIRE       5    240      48
9     Sri LankaSL       5    233      47

### b) Top 10 women’s ODI players along with the records of their team and rating.

In [44]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
soup = BeautifulSoup(page.content)

In [45]:
player = []

for i in soup.find_all('td', class_='rankings-block__top-player-container'):
    player.append(i.text.replace('\n',''))
for i in soup.find_all('td', class_='table-body__cell rankings-table__name name'):
    player.append(i.text.replace('\n',''))

In [46]:
team = []

for i in soup.find_all('div', class_='rankings-block__banner--nationality'):
    team.append(i.text.replace('\n','').strip())
for i in soup.find_all('td', class_='table-body__cell nationality-logo rankings-table__team'):
    team.append(i.text.replace('\n',''))

In [47]:
rating = []

for i in soup.find_all('div', class_='rankings-block__banner--rating'):
    rating.append(i.text)
for i in soup.find_all('td', class_='table-body__cell rating'):
    rating.append(i.text)

In [48]:
print(len(player),len(team),len(rating))

100 100 100

In [49]:
df = pd.DataFrame({'Top Batsmen':player,'Team Name':team,'Ratings':rating})
df[:10]

         Top Batsmen Team Name Ratings
0        Lizelle Lee        SA     761
1       Alyssa Healy       AUS     750
2        Mithali Raj       IND     738
3     Tammy Beaumont       ENG     728
4  Amy Satterthwaite        NZ     717
5    Smriti Mandhana       IND     710
6        Meg Lanning       AUS     699
7        Beth Mooney       AUS     690
8    Stafanie Taylor        WI     676
9     Heather Knight       ENG     674

### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [50]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup = BeautifulSoup(page.content)

In [51]:
player = []

for i in soup.find_all('td', class_='rankings-block__top-player-container'):
    player.append(i.text.replace('\n',''))
for i in soup.find_all('td', class_='table-body__cell rankings-table__name name'):
    player.append(i.text.replace('\n',''))

In [52]:
team = []

for i in soup.find_all('div', class_='rankings-block__banner--nationality'):
    team.append(i.text.replace('\n','').strip())
for i in soup.find_all('td', class_='table-body__cell nationality-logo rankings-table__team'):
    team.append(i.text.replace('\n',''))

In [53]:
rating = []

for i in soup.find_all('div', class_='rankings-block__banner--rating'):
    rating.append(i.text)
for i in soup.find_all('td', class_='table-body__cell rating'):
    rating.append(i.text)

In [54]:
print(len(player),len(team),len(rating))

20 20 20

In [55]:
df = pd.DataFrame({'Top Batsmen':player,'Team Name':team,'Ratings':rating})
df[:10]

        Top Batsmen Team Name Ratings
0    Marizanne Kapp        SA     384
1    Natalie Sciver       ENG     372
2      Ellyse Perry       AUS     365
3   Stafanie Taylor        WI     319
4     Deepti Sharma       IND     299
5  Ashleigh Gardner       AUS     275
6  Dane van Niekerk        SA     274
7   Hayley Matthews        WI     272
8     Jess Jonassen       AUS     272
9   Katherine Brunt       ENG     272

# Q.6
### Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content
### and the code for the video from the link for the youtube video from the post.

In [56]:
page  = requests.get('https://coreyms.com/')
soup = BeautifulSoup(page.content)

In [57]:
heading = []

for i in soup.find_all('a', class_='entry-title-link'):
    heading.append(i.text)

In [58]:
date = []

for i in soup.find_all('time', class_='entry-time'):
    date.append(i.text)

In [59]:
content = []

for i in soup.find_all('div', itemprop='text'):
    content.append(i.text.replace('\n',''))

In [60]:
video_link = []

for i in soup.find_all('iframe', class_='youtube-player'):
    video_link.append(i['src'])

In [61]:
print(len(heading),len(date),len(content),len(video_link))

10 10 10 9

In [62]:
# Due to ONE NO VIDEO LINK not present in website, so this will not work.
# I want to know the solution 


df = pd.DataFrame({'Heading':heading,'Date':date,'Content':content})
df

,Heading,Date,Content
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to crea..."
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be l..."
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be l..."
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be l..."
4,Update (2019-09-03),"September 3, 2019",Hey everyone. I wanted to give you an update o...
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will b..."
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will b..."
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will b..."
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will b..."
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will b..."

# Q.7
### Write a python program to scrape house details from mentioned URL. It should include house title, location,
### area, EMI and price from nobroker.in.

In [63]:
page = requests.get('https://www.nobroker.in/property/sale/delhi/Karol%20Bagh?searchParam=W3sibGF0IjoyOC42NTUwNDU4LCJsb24iOjc3LjE4ODgyMDEsInBsYWNlSWQiOiJDaElKMHk1QVg1d0NEVGtSUnRtZFRDbDBJWlEiLCJwbGFjZU5hbWUiOiJLYXJvbCBCYWdoIn1d&radius=2.0&city=delhi&locality=Karol%20Bagh')
soup = BeautifulSoup(page.content)

### House Name

In [64]:
house_title = []

for i in soup.find_all('h2', class_='heading-6 font-semi-bold nb__25Cl7'):
    house_title.append(i.text)

### Location

In [65]:
loc = []

for i in soup.find_all('div', class_='nb__1EwQz'):
    loc.append(i.text)

### Area

In [66]:
area = []

for i in soup.find_all('div', class_='nb__FfHqA'):
    area.append(i.text)

### EMI

In [67]:
EMI = []

for i in soup.find_all('div', class_="font-semi-bold heading-6", id='roomType'):
    EMI.append(i.text)

### Price

In [68]:
price = []

for i in soup.find_all('div', class_='font-semi-bold heading-6'):
    price.append(i.text)

price1 = []    
for i in range(2,len(price),3):
    price1.append(price[i])

In [69]:
print(len(house_title),len(loc),len(area),len(price1))

25 25 25 25

In [70]:
df = pd.DataFrame({'House Name':house_title,'Location':loc,"Area('SQFT')":area,"EMI":EMI,'Price':price1})
df

,House Name,Location,Area('SQFT'),EMI,Price
0,3 BHK Flat For Sale In Karol Bagh,"Standalone Building, Rohtak Rd, Near Delhi Jal...","1,008 sqft","₹54,448/Month",₹95 Lacs
1,3 BHK Flat For Sale In Karol Bagh,"Standalone Building, New Rohtak Road","1,350 sqft","₹80,240/Month",₹1.4 Crores
2,4 BHK Flat For Sale In Karol Bagh,"standalone building, Transit Camp near SHANI M...","3,100 sqft","₹63,045/Month",₹1.1 Crores
3,2 BHK In Independent House For Sale In Karol...,"Joshi road, ajmal khan park",800 sqft,"₹32,669/Month",₹57 Lacs
4,4+ BHK Flat For Sale In Karol Bagh In Karol...,East Park Road,"3,600 sqft",₹4.18 Lacs/Month,₹7.3 Crores
5,1 RK Flat For Sale In Karol Bagh,"Standalone Building, Tank Rd Block 1 B, Mata R...",270 sqft,"₹11,462/Month",₹20 Lacs
6,2 BHK In Independent House For Sale In Karol...,bapa nagar,500 sqft,"₹14,328/Month",₹25 Lacs
7,4+ BHK Flat For Sale In Khalsa College,"Independent House, Near Khalsha College Evenin...","3,200 sqft",₹2.58 Lacs/Month,₹4.5 Crores
8,2 BHK Flat For Sale In Karol Bagh,"Standalone Building, Block 52, Near Khalsa Col...",450 sqft,"₹24,072/Month",₹42 Lacs
9,3 BHK Flat For Sale In Karol Bagh,"Standalone Building, Dev Nagar, Near Sri Guru ...","1,012 sqft","₹63,045/Month",₹1.1 Crores
10,2 BHK Flat For Sale In Karol Bagh,"Standalone Building, Guru Ravi Das Marg, near ...",600 sqft,"₹45,851/Month",₹80 Lacs
11,1 RK Flat For Sale In Karol Bagh,"Standalone Building, deshbandhu gupta rd Beado...",234 sqft,"₹17,194/Month",₹30 Lacs
12,3 BHK Flat For Sale In Apartment In Karol Bagh,"Ramjas Road, near Peshawari Chicken Corner,","1,350 sqft",₹1.2 Lacs/Month,₹2.1 Crores
13,1 BHK Flat For Sale In Dev Nagar,"Standalone Building, Desh Bandhu Gupta Rd Near...",450 sqft,"₹28,657/Month",₹50 Lacs
14,4+ BHK In Independent House For Sale In Karo...,"Independent House, Arya Samaj Road near Kikar ...","2,295 sqft",₹4.3 Lacs/Month,₹7.5 Crores
15,"3 BHK Flat For Sale In Dev Nagar, Karol Bagh",near khalsa college,"1,300 sqft","₹51,583/Month",₹90 Lacs
16,1 BHK For Sale In Dev Nagar Block 8 Delhi In ...,street 2 block 8 h no. 6472 dev nagar karol bagh,324 sqft,"₹34,388/Month",₹60 Lacs
17,4+ BHK In Independent House For Sale In Karo...,"Independent House, Guru Ravi Das Marg, Block 5...","2,004 sqft","₹40,120/Month",₹70 Lacs
18,4+ BHK Flat For Sale In Karol Bagh,"Standalone Building, Desh Bandhu Gupta Rd, Nea...","1,851 sqft",₹6.88 Lacs/Month,₹12 Crores
19,2 BHK Flat For Sale In Kamini Gupta In Karol...,"Gaffar Market, near Novelty Place",585 sqft,"₹14,328/Month",₹25 Lacs
20,2 BHK In Independent House For Sale In Desh ...,gali no.8 dev nagar,"1,000 sqft","₹48,717/Month",₹85 Lacs
21,2 BHK Flat For Sale In Apartment In Karol Bagh,"Saraswati Marg,, Beadonpura,Near Hanuman Mandi...",648 sqft,"₹40,120/Month",₹70 Lacs
22,4+ BHK Flat For Sale In Karol Bagh,"Standalone building, diip nagar, Block 3, Near...","2,200 sqft",₹1.43 Lacs/Month,₹2.5 Crores
23,3 BHK Flat For Sale In Standalone Building ...,"new Rohtak road, Near Liberty Cinema - Delhi","1,260 sqft",₹1.19 Lacs/Month,₹2.08 Crores
24,4 BHK Flat For Sale In Karol Bagh,"Standalone Building, Regar Pura,Near Meenu Momos","2,674 sqft",₹1.6 Lacs/Month,₹2.8 Crores

# Q.8
## Write a python program to scrape mentioned details from dineout.co.in :

In [71]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/super-savers')
soup = BeautifulSoup(page.content)

### i) Restaurant name

In [72]:
name = []

for i in soup.find_all('div', class_='restnt-info cursor'):
    name.append(i.text)

### ii) Cuisine

In [73]:
Cuisine = []

for i in soup.find_all('span', class_='double-line-ellipsis'):
    Cuisine.append(i.text.split('|')[1]) # Selecting the second index

### iii) Location

In [74]:
loc = []

for i in soup.find_all('div', class_='restnt-loc ellipsis'):
    loc.append(i.text)

### iv) Ratings

In [75]:
rating = []

for i in soup.find_all('div', class_='restnt-rating rating-4'):
    rating.append(i.text)

### iv) Ratings

In [76]:
url = []

for i in soup.find_all('img', class_='no-img'):
    url.append(i['data-src'])

In [77]:
print(len(name),len(Cuisine),len(loc),len(rating),len(url))

21 21 21 17 21

In [78]:
df = pd.DataFrame({'Resturent Name':name,'Cuisine':Cuisine,'Location':loc,'Image Link':url})
df

,Resturent Name,Cuisine,Location,Image Link
0,"Route 04Connaught Place, Central Delhi","Multi-Cuisine, American, Asian, Chinese, Cont...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
1,"DaryaganjRegal Cinema Complex,Connaught Place,...","North Indian, Biryani, Mughlai, Seafood","Regal Cinema Complex,Connaught Place, Central ...",https://im1.dineout.co.in/images/uploads/resta...
2,"TEO - Lounge & BarPunjabi Bagh, West Delhi","North Indian, Oriental , Italian, Mughlai","Punjabi Bagh, West Delhi",https://im1.dineout.co.in/images/uploads/resta...
3,"Sana-Di-GeMalcha Marg Shopping Complex,Chanaky...","Seafood, North Indian, Goan, Kerala","Malcha Marg Shopping Complex,Chanakyapuri, Sou...",https://im1.dineout.co.in/images/uploads/resta...
4,"BFF (Beer Food Feast) Restro BarKarol Bagh, Ce...","North Indian, Continental, Oriental , Finger ...","Karol Bagh, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
5,"Socia L AffaireKarol Bagh, Central Delhi","Multi-Cuisine, North Indian, Italian, Europea...","Karol Bagh, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
6,"Saada PindKarol Bagh, Central Delhi","North Indian, Biryani","Karol Bagh, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
7,"Gram by TaksimAnsal Plaza Mall,Khel Gaon, Sout...","North Indian, Asian, Italian, Mexican, Europe...","Ansal Plaza Mall,Khel Gaon, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
8,"Gola SizzlersPreet Vihar, East Delhi","Sizzlers, North Indian, Chinese","Preet Vihar, East Delhi",https://im1.dineout.co.in/images/uploads/resta...
9,"The DineRoomPunjabi Bagh, West Delhi","North Indian, Italian, Chinese","Punjabi Bagh, West Delhi",https://im1.dineout.co.in/images/uploads/resta...
10,"The Firangi IslandKirti Nagar, West Delhi","Multi-Cuisine, Chinese, Continental, Italian,...","Kirti Nagar, West Delhi",https://im1.dineout.co.in/images/uploads/resta...
11,"Qubitos - The Terrace CafeRajouri Garden, West...","Multi-Cuisine, North Indian, Italian, Thai, M...","Rajouri Garden, West Delhi",https://im1.dineout.co.in/images/uploads/resta...
12,"ElectroRajouri Garden, West Delhi","Continental, Italian, North Indian","Rajouri Garden, West Delhi",https://im1.dineout.co.in/images/uploads/resta...
13,"The Crypto DoorVijay Nagar, North Delhi","Continental, American, Italian, Lebanese, Fusion","Vijay Nagar, North Delhi",https://im1.dineout.co.in/images/uploads/resta...
14,"The Bowton House CafeSatya Niketan, South Delhi","North Indian, Chinese, Italian, Continental","Satya Niketan, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
15,"The MarketplaceKirti Nagar, West Delhi","North Indian, European, Asian","Kirti Nagar, West Delhi",https://im1.dineout.co.in/images/uploads/resta...
16,"Hott MuggsLaxmi Nagar, East Delhi","Fast Food, Italian, Chinese","Laxmi Nagar, East Delhi",https://im1.dineout.co.in/images/uploads/resta...
17,"Sixth EmpiricaPunjabi Bagh, West Delhi","North Indian, Italian, Chinese, Continental","Punjabi Bagh, West Delhi",https://im1.dineout.co.in/images/uploads/resta...
18,"ZiuSangam Courtyard,RK Puram, South Delhi",Thai,"Sangam Courtyard,RK Puram, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
19,"SliqueAnsal Plaza Mall,Khel Gaon, South Delhi","North Indian, Asian","Ansal Plaza Mall,Khel Gaon, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
20,"Sharrazz 2.0Satya Niketan, South Delhi","North Indian, Italian, Chinese, Fast Food","Satya Niketan, South Delhi",https://im1.dineout.co.in/images/uploads/resta...

# Q.9
## Write a python program to scrape weather details for last 24 hours from Tutiempo.net :

In [79]:
page = requests.get('https://en.tutiempo.net/delhi.html?data=last-24-hours')
soup = BeautifulSoup(page.content)

### i) Hour

In [80]:
Hour = []


for i in soup.find_all ('td',class_='t Temp')[0:24]: 

    if i.previous_sibling.previous_sibling is not None:

        Hour.append(i.previous_sibling.previous_sibling.text)

### ii) Temperature

In [81]:
temp = []

for i in soup.find_all('td', class_='t Temp')[0:24]:
    temp.append(i.text)

### iii) Wind

In [82]:
wind = []

for i in soup.find_all('td', class_='wind')[0:24]:
    wind.append(i.text)

### iv) Weather condition

In [83]:
weather_condition = []

for i in soup.find_all ('td',class_='t Temp')[0:24]: 

    if i.previous_sibling is not None:

        weather_condition.append(i.previous_sibling.text)
    else:
        weather_condition.append('')

### v) Humidity

In [84]:
hum = []

for i in soup.find_all('td', class_='hr')[0:24]:
    hum.append(i.text)

### vi) Pressure

In [85]:
pre = []

for i in soup.find_all('td', class_='prob')[0:24]:
    pre.append(i.text)

In [86]:
print(len(Hour),len(temp),len(wind),len(weather_condition),len(hum),len(pre))

24 24 24 24 24 24

In [87]:
df = pd.DataFrame({'Hour':Hour,'Temperature':temp,'Wins':wind,'Wearher_Condition':weather_condition,'Humidity':hum,'Pressure':pre})
df

     Hour Temperature    Wins Wearher_Condition Humidity  Pressure
0   00:00        17°C    Calm              Mist      82%  1017 hPa
1   23:30        17°C    Calm              Mist      82%  1017 hPa
2   23:00        17°C    Calm              Mist      82%  1017 hPa
3   22:30        18°C    Calm              Mist      83%  1017 hPa
4   22:00        18°C    Calm              Mist      83%  1017 hPa
5   21:30        18°C    Calm              Mist      83%  1017 hPa
6   21:00        18°C    Calm              Mist      83%  1017 hPa
7   20:30        18°C  6 km/h              Mist      83%  1017 hPa
8   20:00        19°C    Calm              Mist      78%  1017 hPa
9   19:30        19°C    Calm              Mist      78%  1016 hPa
10  19:00        19°C    Calm              Mist      78%  1016 hPa
11  18:30        19°C  6 km/h              Mist      78%  1016 hPa
12  18:00        19°C  7 km/h              Mist      78%  1016 hPa
13  17:30        20°C    Calm    Widespread Fog      64%  1016 hPa
14  17:00        21°C  6 km/h    Widespread Fog      56%  1017 hPa
15  16:30        21°C  6 km/h    Widespread Fog      53%  1017 hPa
16  16:00        21°C  6 km/h    Widespread Fog      53%  1017 hPa
17  15:30        21°C  7 km/h    Widespread Fog      53%  1017 hPa
18  15:00        21°C  9 km/h    Widespread Fog      53%  1017 hPa
19  14:30        21°C  7 km/h    Widespread Fog      53%  1017 hPa
20  14:00        21°C  7 km/h    Widespread Fog      49%  1017 hPa
21  13:30        21°C  4 km/h    Widespread Fog      49%  1018 hPa
22  13:00        21°C  4 km/h    Widespread Fog      49%  1018 hPa
23  12:30        21°C  6 km/h              Mist      49%  1019 hPa

# Q.10
## Write a python program to scrape monument name, monument description, image URL about top 10 monuments
## from puredestinations.co.uk.

In [88]:
page = requests.get('https://www.puredestinations.co.uk/top-10-famous-monuments-to-visit-in-india/')
soup = BeautifulSoup(page.content)

### Top 10 Monuments Names

In [89]:
name = []

for i in soup.find_all('p')[4:32:3]:
    name.append(i.text.replace('\n',''))

### Top 10 Monuments Discriptiion

In [90]:
dic = []

for i in soup.find_all('p')[5:33:3]:
    dic.append(i.text.replace('\n',''))

### Top 10 Monuments Image URLs

In [91]:
url = []

for i in soup.find_all('img')[6:25:2]:
    url.append(i['src'])

In [92]:
print(len(name),len(dic),len(url))

10 10 10

In [93]:
df = pd.DataFrame({'Names':name,'Discriptiion':dic,'Image URLs':url})
df

,Names,Discriptiion,Image URLs
0,"Taj Mahal, Agra","Enlisted in the Seven Wonders of the World, Th...",http://www.puredestinations.co.uk/wp-content/u...
1,"Golden Temple (Harmandir Sahib), Amritsar",The holiest shrine and pilgrimage place locate...,http://www.puredestinations.co.uk/wp-content/u...
2,"Meenakshi Temple, Madurai",Meenakshi Temple is situated on the Southern b...,http://www.puredestinations.co.uk/wp-content/u...
3,"Mysore Palace, Mysore",The Mysore Palace is a famous historical monum...,http://www.puredestinations.co.uk/wp-content/u...
4,"Gateway of India, Mumbai",Even though Mumbai is famous for its Bollywood...,http://www.puredestinations.co.uk/wp-content/u...
5,"Red Fort, New Delhi","Declared as the UNESCO’s World Heritage Site, ...",http://www.puredestinations.co.uk/wp-content/u...
6,"Hawa Mahal, Jaipur",Explore a blend of beauty and Rajasthan cultur...,http://www.puredestinations.co.uk/wp-content/u...
7,"Qutub Minar, New Delhi",Discover one of the tallest towers in the worl...,http://www.puredestinations.co.uk/wp-content/u...
8,"Sanchi Stupa, Sanchi","The beautiful and massive dome, Sanchi Stupa a...",http://www.puredestinations.co.uk/wp-content/u...
9,"Charminar, Hyderabad",No visit to Hyderabad should be complete witho...,http://www.puredestinations.co.uk/wp-content/u...